[submodule "online"]
	path = online
	url = https://github.com/LibreOffice/online.git
[submodule "impress_remote"]
	path = impress_remote
	url = https://github.com/LibreOffice/impress_remote.git
[submodule "help"]
	path = help
	url = https://github.com/LibreOffice/help.git
[submodule "qtquickcontrols2"]
	path = qtquickcontrols2
	url = https://github.com/qt/qtquickcontrols2.git
